body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #30636B;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: auto;
    height: 100px;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center; 
}

.nav-links li {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-links a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 10px;
    transition: color 0.3s ease; 
}

.nav-links li::after {
    content: '|';
    color: white; 
    margin-left: 10px;
}

.nav-links li:last-child::after {
    content: '';
}

.nav-links a:hover {
    color: #e46816; 
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-right input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-entrar, .btn-entrar a {
    padding: 5px 15px;
    background-color: #e46816;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.btn-entrar:hover {
    background-color: #d15a10;
}

.banner {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-top: 3px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 42px;
    color: white;
}

.praias-em-destaque {
    background-color: #30636B;
    color: white;
    padding: 25px 20px;
    text-align: center;
    margin-top: 3px;

}
.titulo-praias{
	font-size: 50px;
    padding: 15px;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
}	
.praia {
	margin-left:70px;
	background-color:white;
    border: 3px solid white;
    width:1100px;
    height:250px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 380px;
}

.praia img {
    width: 400px;
    height: 220px;
    object-fit: cover;
    margin-right: 20px;
    margin-left:20px;
    border-radius: 10px;
}

.praia-text {
	background-color:#30636B;
    max-width: 660px;
    text-align: left;
	border-radius: 10px;
	height: 220px;
	margin-left:-10px;
}

.praia-text h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    text-align:justify;
	margin-left: 10px;
}
.praia-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    text-align:justify;
	margin-left: 10px;
	margin-right: 10px;
}
.praia-button{
	margin-left: 10px;
    padding: 5px 15px;
    margin-bottom: 15px;
    background-color: #e46816;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.5s ease; 
}
.praia-button a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}    
.praia-button:hover {
    transform: scale(1.08); 
  }
 

.banner-viaje {
    position: relative;
    width: 100%;
    height: auto;
}

.banner-viaje img {
    width: 100%;
    height: 400px;
    display: block;
}

.viaje-conosco {
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo-viaje {
    text-align: left;
}

.titulo-viaje h2 {
    margin: 0;
    font-size: 24px;
    color: #30636B;
}

.titulo p {
    margin-top: 10px;
    font-size: 16px;
}

.parceiros {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.coluna-viaje {
    width: 30%;
}

.coluna-viaje h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #30636B;
}

.coluna-viaje ul {
    list-style-type: none;
    padding: 0;
}

.coluna-viaje li {
    margin-bottom: 5px;
    font-size: 14px;
}

.barra-viaje {
    background-color:#30636B;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-content {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #e46816;
}